@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: hsl(210, 10%, 23%);
}

::-webkit-scrollbar-thumb {
  background: hsl(285, 100%, 50%);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(285, 100%, 29%);
}